@media (max-width: 991px) {
    html {
      font-size: 55%;
    }
  
    .header {
      padding: 2rem;
    }
  
    section {
      padding: 2rem;
    }
  }
  
  @media (max-width: 768px) {
    #menu-btn {
      display: inline-block;
    }
  
    .header .search-form {
      width: 90%;
    }
  
    .header .navbar {
      position: absolute;
      top: 110%;
      right: -110%;
      width: 30rem;
      box-shadow: var(--box-shadow);
      border-radius: 0.5rem;
      background: #fff;
    }
  
    .header .navbar.active {
      right: 2rem;
      transition: 0.4s linear;
    }
  
    .header .navbar a {
      font-size: 2rem;
      margin: 2rem 2.5rem;
      display: block;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
  
    .header {
      padding: 2.5rem;
    }
  
    .footer {
      text-align: center;
    }
  }