{% include "components/header-simple.html" %} {% load static %}
<link rel="stylesheet" href="{% static 'plataforma/css/header.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'plataforma/css/categorie/categorie-create.css' %}"
/>
<title>Criar Categoria</title>
<div class="categorie-create">
  <h1 class="heading">
    Criar
    <span>Categoria</span>
  </h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Criar</button>
  </form>
</div>
