{% include "components/header-simple.html" %} {% load static %}
<link rel="stylesheet" href="{% static 'plataforma/css/header.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'plataforma/css/categorie/categorie-detail.css' %}"
/>
<title>Categoria - {{ categorie.title }}</title>
<div class="categorie-detail">
  <h1 class="heading">
    Detalhes
    <span>Categoria</span>
  </h1>
  <ul>
    <li><strong>Título:</strong> {{ categorie.title }}</li>
    <li><strong>Descrição:</strong> {{ categorie.description }}</li>
    {% if object.image %}
    <img
      style="width: 300px"
      src="{{ object.image.url }}"
      alt="{{ object.title}}"
    />
    {% endif %}
  </ul>
</div>
