.heading {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.heading span {
  background: var(--secondary-color);
  color: #fff;
  display: inline-block;
  padding: 0.5rem 3rem;
  clip-path: polygon(100% 0%, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.product-delete {
  background: #fff;
  box-shadow: var(--box-shadow);
  border: var(--border);
  margin: 2rem auto;
  padding: 2rem;
  width: 30%;
}

.product-delete h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.product-delete form p {
  font-size: 1.7rem;
  align-items: center;
}

.product-delete form input {
  background: #f9f9f9;
  border: var(--outline);
  border-radius: 0.5rem;
  font-size: 1.7rem;
  margin: 1rem 0;
  padding: 1rem;
}

.product-delete form {
  display: grid;
  grid-template-columns: 2fr auto;
}

.product-delete form input:focus {
  border: var(--outline-hover);
}

.product-delete form button:hover {
  background: var(--secondary-color);
}

.product-delete form button {
  background: var(--primary-color);
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
  margin: 1rem 0;
  padding: 1rem;
  grid-column: span 2;
}

.resource-delete form button:hover {
  background: var(--secondary-color);
}
