.heading {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.heading span {
  background: var(--secondary-color);
  color: #fff;
  display: inline-block;
  padding: 0.5rem 3rem;
  clip-path: polygon(100% 0%, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.product-update {
  background: #fff;
  box-shadow: var(--box-shadow);
  border: var(--border);
  margin: 2rem auto;
  padding: 2rem;
  width: 50%;
}

.product-update h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.product-update form {
  display: flex;
  flex-direction: column;
}

.product-update form p:nth-child(2),
.product-update form p:nth-child(3),
.product-update form p:nth-child(4) {
  display: grid;
  grid-template-columns: 1fr;
}

.product-update form input {
  background: #f9f9f9;
  border: var(--outline);
  border-radius: 0.5rem;
  font-size: 1.7rem;
  margin: 1rem 0;
  padding: 1rem;
}

.product-update form input:focus {
  border: var(--outline-hover);
}

.product-update form button {
  background: var(--primary-color);
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
  margin: 1rem 0;
  padding: 1rem;
}

.product-update form button:hover {
  background: var(--secondary-color);
}

.product-update form p label {
  font-size: 1.7rem;
  margin: 1rem 0;
}

.product-update form p input {
  margin-right: 1rem;
}

.resource-delete form button:hover {
  background: var(--secondary-color);
}
