{% block content %} {% load static %}

<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>
        <div class="logo">
          Kitanda
          <img
            class="icon-logo"
            src="{% static 'plataforma/assets/logo.png' %}"
            alt="{{ object.title }}"
          />
        </div>
      </h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, saepe?
      </p>
      <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-x"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>
    </div>

    <div class="box">
      <h3>informações de contato</h3>
      <a href="#" class="links"><i class="fas fa-phone"></i>83 9 9564-8345</a>
      <a href="#" class="links"><i class="fas fa-phone"></i>83 9 9345-8473</a>
      <a href="#" class="links"
        ><i class="fas fa-envelope"></i>kitanda@gmail.com</a
      >
      <a href="#" class="links"
        ><i class="fas fa-map-marker-alt"></i>patos, brasil - 58400-84</a
      >
    </div>

    <div class="box">
      <h3>links rápidos</h3>
      <a href="#" class="links"><i class="fas fa-arrow-right"></i>home</a>
      <a href="#" class="links"><i class="fas fa-arrow-right"></i>Recursos</a>
      <a href="#" class="links"><i class="fas fa-arrow-right"></i>Produtos</a>
      <a href="#" class="links"><i class="fas fa-arrow-right"></i>categorias</a>
      <a href="#" class="links"><i class="fas fa-arrow-right"></i>review</a>
      <a href="#" class="links"><i class="fas fa-arrow-right"></i>blogs</a>
    </div>

    <div class="box">
      <h3>boletim de notícias</h3>
      <p>inscreva-se para receber as últimas atualizações</p>
      <input type="email" placeholder="seu email" class="email" />
      <input type="submit" value="inscreva-se" class="btn" />
      <img
        src="{% static 'plataforma/assets/payment.png' %}"
        class="payment-image"
        alt="{{ object.title }}"
      />
    </div>
  </div>

  <div class="credit">
    criado por <span>Kitanda</span> | todos os direitos reservados!
  </div>
</section>

{% endblock %}
