{% block content %} {% load static %}
<header class="header">
  <a href="#" class="logo">
    <img
      class="icon-logo"
      src="{% static 'plataforma/assets/logo.png' %}"
      alt="logo da plataforma kitanda, representando um carrinho de compras"
    />
    Kitanda Delivery
  </a>

  <nav class="navbar">
    <a href="#home">Home</a>
    <a href="#features">Recursos</a>
    <a href="#products">Produtos</a>
    <a href="#categories">Categorias</a>
    <a href="#review">Comentários</a>
    <a href="#blogs">Blog</a>
  </nav>

  <div class="icons">
    <div class="fas fa-bars" id="menu-btn"></div>
    <div class="fas fa-search" id="search-btn"></div>
    <div class="fas fa-shopping-cart" id="cart-btn"></div>
    <div class="fas fa-user" id="login-btn"></div>
  </div>

  <div class="search-form">
    <input type="search" id="search-box" placeholder="search here..." />
    <label for="search-box" class="fas fa-search"></label>
  </div>

  {% block shopcart %}
  {% include 'components/shop-cart.html' %}
  {% endblock %}

  {% block login %}
  {% include 'components/auth/login.html' %}
  {% endblock %}

</header>

{% endblock %}
