{% block content %}
{% load static %}

<div class="shopping-cart">
        <div class="box">
          <i class="fas fa-trash"></i>
          <img src="./src/assets/navbar/navbar-1.png" alt="" />
          <div class="content">
            <h3>Alface</h3>
            <span class="price">R$4.99/-</span>
            <span class="quantify">qtd : 1</span>
          </div>
        </div>
        <div class="box">
          <i class="fas fa-trash"></i>
          <img src="./src/assets/navbar/navbar-2.png" alt="" />
          <div class="content">
            <h3>Cebola</h3>
            <span class="price">R$4.99/-</span>
            <span class="quantify">qtd : 1</span>
          </div>
        </div>
        <div class="box">
          <i class="fas fa-trash"></i>
          <img src="./src/assets/navbar/navbar-3.png" alt="" />
          <div class="content">
            <h3>Tomate</h3>
            <span class="price">R$4.99/-</span>
            <span class="quantify">qtd : 1</span>
          </div>
        </div>
        <div class="total">total : R$19.69/-</div>
        <a href="#" class="btn">checkout</a>
      </div>
{% endblock %}
