{% include "components/header-simple.html" %} {% load static %}
<link rel="stylesheet" href="{% static 'plataforma/css/header.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'plataforma/css/blog/blog-list.css' %}"
/>
<title>Listar Recursos</title>
<div class="blog-list">
  <h1 class="heading">
    Listas
    <span>Blog</span>
  </h1>
  <form method="GET">
    <input type="text" name="ti" placeholder="Pesquisar..." />
    <select name="orderby">
      <option value="pub_date">Data de Publicação</option>
      <option value="title">Título</option>
    </select>
    <button type="submit">Pesquisar</button>
  </form>
</div>

<div class="blog-list">
  <ul>
    {% for blog in blogs %}
    <li class="resource-item">
      <span class="resource-item-name">{{ blog.title }}</span>
      <span class="resource-item-date">
        <img
          style="width: 100px"
          src="{{ blog.image.url }}"
          alt="{{ blog.title }}"
        />
      </span>
      <a href="{% url 'blog_detail' blog.pk %}">Detalhes</a>
      <a href="{% url 'blog_update' blog.pk %}">Editar</a>
      <a href="{% url 'blog_delete' blog.pk %}">Excluir</a>
    </li>
    {% endfor %}
  </ul>
  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li><a href="?page=1">&laquo; Primeira</a></li>
    <li>
      <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; Anterior</a>
    </li>
    {% endif %} {% for num in page_obj.paginator.page_range %}
    ----------------{% if page_obj.number == num %}
    <li class="active"><span>{{ num }}</span></li>
    {% else %}
    <li><a href="?page={{ num }}">{{ num }}</a></li>
    {% endif %} {% endfor %} {% if page_obj.has_next %}
    <li>
      <a href="?page={{ page_obj.next_page_number }}">Próxima &rsaquo;</a>
    </li>
    <li>
      <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</div>
