{% include "components/header-simple.html" %} {% load static %}
<link rel="stylesheet" href="{% static 'plataforma/css/header.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'plataforma/css/comment/comment-create.css' %}"
/>
<title>Criar Comentário</title>
<div class="comment-create">
  <h1 class="heading">
    Adicionar
    <span>Comentário</span>
  </h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Adicionar</button>
  </form>
</div>
