{% include "components/header-simple.html" %} {% load static %}
<link rel="stylesheet" href="{% static 'plataforma/css/header.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'plataforma/css/comment/comment-detail.css' %}"
/>
<title>Detalhes - {{ comment.title }}</title>
<div class="comment-detail">
  <h1 class="heading">
    Detalhes
    <span>Comentário</span>
  </h1>
  <ul>
    <li><strong>Título:</strong> {{ comment.title }}</li>
    <li><strong>Comentário:</strong> {{ comment.description }}</li>
    <li><strong>Estrelas:</strong> {{ comment.stars }}</li>
    {% if object.image %}
    <img
      style="width: 300px"
      src="{{ object.image.url }}"
      alt="{{ object.title }}"
    />
    {% endif %}
  </ul>
</div>
