{% include "components/header-simple.html" %} {% load static %}
<link rel="stylesheet" href="{% static 'plataforma/css/header.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'plataforma/css/comment/comment-delete.css' %}"
/>
<title>Deletar - {{ comment.title }}</title>
<div class="comment-delete">
  <h1 class="heading">
    Deletar
    <span>Comentário</span>
  </h1>
  <form method="post">
    {% csrf_token %}
    <p>
      Você tem certeza que deseja deletar o comentário de
      <strong>"{{ comment.title }}"</strong>?
    </p>
    {% if object.image %}
    <img
      style="width: 100px"
      src="{{ object.image.url }}"
      alt="{{ object.title }}"
    />
    {% endif %}
    <button type="submit">Deletar</button>
  </form>
</div>
