.heading {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.heading span {
  background: var(--secondary-color);
  color: #fff;
  display: inline-block;
  padding: 0.5rem 3rem;
  clip-path: polygon(100% 0%, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.categorie-detail {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  background: #fff;
  box-shadow: var(--box-shadow);
  border: var(--border);
  margin: 2rem auto;
  padding: 2rem;
  width: 30%;
}

.categorie-detail h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.categorie-detail ul {
  list-style: none;
  padding: 0;
}

.categorie-detail ul li {
  font-size: 1.7rem;
  padding: 1rem;
}

.categorie-detail img {
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.categorie-detail p {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.categorie-delete form button:hover {
  background: var(--secondary-color);
}
