{% block content %} {% load static %}
<div class="login-form">
  <div class="user">
    {% if user.is_authenticated %}

      {% block logged %}
      {% include './logged.html'%}
      {% endblock %}

    {% else %}
    <h2>Conecte-se</h2>
    <form action="post">
      <button type="submit" class="btn" formaction="{% url 'login' %}">
        Login
      </button>
      <button type="submit" class="btn" formaction="{% url 'register' %}">
        Registrar
      </button>
      {% csrf_token %}
    </form>
    <p>Esqueceu sua senha? <a href="#">Clique aqui</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}
